body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container .flip-card {
  width: 400px;
  height: 400px;
  background-color: transparent;
  border-radius: 10px;
  
  perspective: 1000px;
}
.container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #bc321a;
  text-align: center;
  transition: transform 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
}

.container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.container .flip-card .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  cursor: pointer;
}

.container .flip-card .flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.container .flip-card .flip-card-front h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.container .flip-card .flip-card-back {
  background-color: #3498db;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 2;
}


.container .flip-card .flip-card-back ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .flip-card .flip-card-back ul li {
  margin-bottom: 20px;
  margin-right: 20px;
}

.container .flip-card .flip-card-back ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.container .flip-card .flip-card-back ul li a:hover {
  background-color: #fff;
  color: #3498db;
}